

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img  src="http://www.unesc.net/portal/resources/assets/template/59//images/unesc-brand.svg" id="icon" alt="User Icon" style="width: 120px; height: 120px"/>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second my-4" name="login" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth m-4" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>