

<div class="col-md-6 margin">
        
            <div id="tab-card " class="jumbotron col-md-6 offset-md-9 p-4 jumbotron-pb-0 ">
                    <div class=" text-center margin2" >
                            <h2 class="d-inline-block ">Cadastro de Eventos</h2>
                        </div>
        
    <div class="row">
        <div class="col-12">
            <abbr title="Obrigatório">*&nbsp;</abbr><label id="titulo" class="texto">Nome do Evento:</label>

            <input type="text" class="form-control" id="titulo" placeholder="Titulo do Evento" ngModel
                [(ngModel)]="evento.titulo" />
        </div>
    </div>


    <div class="row">

        <div class="col-12">

            <abbr title="Obrigatório">*&nbsp;</abbr><label id="imagem">Banner do Evento: </label>
            <input type="text" class="form-control" id="imagem" placeholder="Banner do Evento" ngModel
                [(ngModel)]="evento.imagem" />

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <abbr title="Obrigatório">*&nbsp;</abbr><label id="link">Link do Evento: </label>
            <input type="text" class="form-control" id="link" placeholder="Link do Evento" ngModel
                [(ngModel)]="evento.link" />

        </div>
    </div>
    <div class="row">

        <div class="col-12">

            <abbr title="Obrigatório">*&nbsp;</abbr><label id="categId">Categoria do Evento: </label>
                <select class="form-control" id="categId" ngModel [(ngModel)]="evento.categId">
                    <option value="0">Tecnologia</option>
        
                    <option value="1">Cultura</option>
        
                    <option value="2">Palestra</option>
        
                    <option value="3">Esporte</option>
                </select>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <abbr title="Obrigatório">*&nbsp;</abbr><label id="descricao">Descrição do Evento: </label>
            <input type="text" class="form-control" id="descricao" placeholder="Descrição do Evento" ngModel
                [(ngModel)]="evento.descricao" />

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <abbr title="Obrigatório">*&nbsp;</abbr><label id="acc">Possui horas ACC: </label>
            <select class="form-control"  ngModel [(ngModel)]="evento.acc">

                <option value=false>Não</option>
                <option value=true>Sim</option>
            </select>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <abbr title="Obrigatório">*&nbsp;</abbr><label id="titulo">Data inicial do Evento: </label>
            <input type="text" class="form-control" id="dataInicial" ngModel
                [(ngModel)]="evento.dataInicial" [textMask]="{mask: mask}"/>

        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <label id="titulo">Data final do Evento: </label>
            <input type="text" class="form-control" id="dataFinal" ngModel
                [(ngModel)]="evento.dataFinal" [textMask]="{mask: mask}"/>

        </div>
    </div>
    <div style="margin-top: 10px">
        <button type="sumit" class="btn btn-primary" (click)="validateDataEvento()">Salvar</button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
    </div>
</div>
</div>